*{
 
} 
body{
   background-color: #D8D8D9; 
   /*   background-color: #D8D8D9;  */

   padding: 0;
   margin: 0;
 

}
.chatbox_button{
 
/* position: fixed; */
display: flex;
flex-direction: row;
justify-content: right;
/* transform: translate(-250px,0); */
} 

.chatbox_button a{
  color: #fff;
  font-size: 20px;
  font-family: ""sans-serif;
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(0, 0,0,0.4);
  display: block;
  width:100px;
  text-align: right;
  transition: 1s;
  transition-property: transform;
}
.chatbox_button a:hover{
  transform: translate(50px,0);
  color: crimson;
  font-weight: 600;
}

@media (max-width:1000px) {
  .chatbox_button{
 
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* transform: translate(-250px,0); */
    } 
    
    .chatbox_button a{
      color: #fff;
      font-size: 15px;
      font-family: ""sans-serif;
      text-decoration: none;
      margin: 2px;
      padding: 10px;
      border-radius: 50px;
      background-color: rgba(0, 0,0,0.4);
      display: block;
      width:80px;
      text-align: right;
      transition: 1s;
      transition-property: transform;
    }
    .chatbox_button a:hover{
      transform: translate(30px,0);
      color: crimson;
      font-weight: 600;
    }
}

/* icon part */
#main_icon_img{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
/* brand name  */
#brand_name{
  padding-left: 40px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  
}
/* home navigation part */
#top_bar_text_home{
margin-right:10px;
color: #D8D8D9;
font-size: 15px;
font-weight:bold;
font-family: sans-serif;
position: relative;

}
/* hover section and hover animation */
#top_bar_text_home:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:crimson;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
/* #top_bar_text_home:hover:before {
  visibility: visible;
  width: 100%;
  
} */
/* courses part start here */
.top_bar_text{
padding-right:5px;
color:white;
font-size: 15px;
font-weight:bold;
font-family: sans-serif;
position: relative;
}
.top_bar_text:before{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:crimson;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.top_bar_text:hover:before {
  visibility: visible;
  width: 100%;
  
}



/* login part css */
 .top_bar_text_login_img{
  width: 22px;
  height: 20px;
  padding-right: 5px; 
}
/* #top_bar_text_login{ 
padding-right:20px;
color: #D8D8D9;
font-size: 15px;
font-weight:bold;
font-family: sans-serif;

} */
/* #top_bar_text_login:hover{
  color: crimson;
  font-weight: bold;
} */
/* registar part css */
.top_bar_text_registar_img{
  width: 22px;
  height: 20px;
  padding-right: 5px; 
}
#top_bar_text_registar{
padding-right:50px;
/* color:white; */
font-size: 15px;
font-weight:bold;
font-family: sans-serif;
position: relative;
}
#top_bar_text_registar:before{
  
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:crimson;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#top_bar_text_registar:hover:before {
  visibility: visible;
  width: 70%;
  
}
  /* color: #D8D8D9;
  font-size: 15px;
  font-weight:unset;
  font-family: sans-serif;
  font-weight: bold; */

/* #top_bar_text_registar:hover{
  color: crimson;
  font-weight: bold;
} */

/* .top_banner_img{
  background-size: cover;
  width: 100%;
  height:10px;
  opacity: 1;
  visibility: inherit;
  /* z-index: 20; */
/* } */
/* .container_fluid{
  height: 500px;
  
} */

.banner_img{
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  position:relative;
  z-index: -5;
}
/* .carousel-caption{
  text-align: center;
} */
.banner_text_label{
  z-index: 5;
  white-space: nowrap;
  font-size: 92px;
  line-height: 99px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  font-family: Poppins;
  visibility: inherit;
  transition: none 0s ease-in-out;
  text-align: center;
  /* border-width: 0px;
  margin: 0px;
  padding-bottom: 0px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px; */

}

.banner_text_label {
  width: 100%;
  overflow: hidden;
  margin-left: 100px;
  max-width: 750px;}
.banner_text_label{
  animation: 2s slide-right;
  animation-delay: 2s;
}
/* .slide-right .banner_text_caption{
  animation: 2s slide-right;
  animation-delay: 2s;
} */

@keyframes slide-right {
   from {
      margin-left: -400px;
   }

   to {
      margin-left: 10%;
   }
}
#banner_text_caption{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}


@media (max-width:1000px) {
  .container_fluid{
    text-align: center;
  }
  .banner_img{
    position: static;
    width:100% ;
    height: 300px;

  }
 /* .carousel-caption{
   text-align:center; 
 } */
 .banner_text_label{
  white-space: nowrap;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  font-family: Poppins;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  padding-bottom: 25px;
  text-align: center;
}
.banner_text_label {
  width: 100%;
  overflow: hidden;
  margin-left: 40px;
  max-width: 350px;}
.banner_text_label{
  animation: 2s slide-right;
  animation-delay: 2s;
}
/* .slide-right .banner_text_caption{
  animation: 2s slide-right;
  animation-delay: 2s;
} */

@keyframes slide-right {
   from {
      margin-left: -300px;
   }

   to {
      margin-left: 0%;
   }
}
 #banner_text_caption{
   font-size: 20px;
    font-weight: 500;
    
 }
}
/* @media only screen and (max-width: 400px){
  .container_fluid{
    text-align: center;
  }
 
  .banner_text_label{
    text-align: center;
    font-size: 10px;
  }
  .
} */
/* banner all part end here */

/* features all part start from here */
.feature_card{
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}
.feature_card-heading{
  margin-bottom: 30px;
  font-family: Poppins;
    font-weight: 600;
}
.feature_card_div{

}
.feature_card_img{
  height: 180px;
}
.feature_card_body_text{
  font-size: 25px;
  font-weight: 600;
}
.card-footer{
  background-color:hsl(30, 9%, 96%);
}
.feature_card_btn{
  background-color: crimson;
  color: bisque;
  font-weight: 450;
}

.feature_card_btn:hover{
  background-color: #1d1d1d;
  /* border-color: #1d1d1d;  */
  color: bisque; 
}
@media (max-width:1000px){
  .feature_card{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  .feature_card-heading{
    font-size: 30px;
    font-family: Poppins;
    font-weight: 600;
  }
  .feature_card_div{
    margin-bottom: 10px;
  }
}
/* features all part end here */

/* middle all pasrts starts from here */

.middle_img_section{
  margin-top: 90px;
  margin-bottom: 50px;
  padding: 0%;
}
.middle_img_div_1{
  position: relative;
  width: 50%;
}

.middle_img_1{
  display: block;
  /* /* width: 100%; */
 height: auto; 
  width: 100%;
  /* height: 80%; */
}
.overlay_1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:crimson;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.middle_img_div_1:hover .overlay_1 {
  width: 100%;
  /* height:auto ; */
}

.text_1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.middle_img_text_link_1{
  color:white;
  text-decoration: underline;
  font-size: 15px;
  
}
.middle_img_text_link_1:hover{
  color: #1d1d1d;
  
}



.middle_img_div_2 {
  position: relative;
  width: 50%;
}

.middle_img_2 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_2 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: crimson;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.middle_img_div_2:hover .overlay_2 {
  width: 100%;
  left: 0;
}

.text_2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.middle_img_text_link_2{
  color:white;
  text-decoration: underline;
  font-size: 15px;
  
}
.middle_img_text_link_2:hover{
  color: #1d1d1d;
  
}


.middle_img_div_3 {
  position: relative;
  width: 50%;
}

.middle_img_3 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_3 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: crimson;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.middle_img_div_3:hover .overlay_3 {
  bottom: 0;
  height: 100%;
}

.text_3 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle_img_text_link_3{
  color:white;
  text-decoration: underline;
  font-size: 15px;
  
}
.middle_img_text_link_3:hover{
  color: #1d1d1d;
  
}



.middle_img_div_4 {
  position: relative;
  width: 50%;
}

.middle_img_4 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_4{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: crimson;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.middle_img_div_4:hover .overlay_4 {
  height: 100%;
}

.text_4 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle_img_text_link_4{
  color:white;
  text-decoration: underline;
  font-size: 15px;
  
}
.middle_img_text_link_4:hover{
  color: #1d1d1d;
  
}

/* profeesional and professor section start from here */
.professional_card{
  margin-top: 100px;
  margin-bottom: 80px;
  margin-left:40px ;
  margin-right: 40px;
}


.professional_card_heading{
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 16px;
  font-family: Poppins,sans-serif;
  
}
.professional_card_heading_underline{
  text-decoration-color: crimson;
  
}
.professional_card_heading_text{
  margin-bottom: 50px;
}
.card-img{
  height: 160px;
  /* width: 100pxx; */
}
.card-img {
  padding: 5px;
  /* background-color: green; */
  transition: transform .2s;
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
}

.card-img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}

.professional_card_body{
  /* background-color:  #D8D8D9; */
  /* border: none; */
  /* margin-bottom: 300px; */
  margin-left: 50px;
  margin-right: 20px; 
}
.card-title:hover{
  color: crimson;
}
.professional_card_link_icon{
  color: #1d1d1d;
  text-decoration: none;
}
.professional_card_link_icon:hover{
  color: crimson;
  text-decoration: none;
  
}
@media (max-width:1300px) {
  .professional_card{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left:40px ;
    margin-right: 40px;
  }
  .professional_card_body{
    margin-left: 20px;
    /* margin-right: 10px; */
  }
 
}
/* alumni part start from here */
.alumni_part{
  margin-top: 100px;
  margin-bottom: 100px;
}
.alumni_part_slide{
  background-color: crimson;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
  
}
.alumni_img{
  width: 200px;
  height: 200px;
  border-radius: 120%;
  /* margin-top: 100px; */
  /* background-color: #fff; */
}
.alumni_body_text_heading{
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 16px;
  font-family: Poppins,sans-serif;
  color: #D8D8D9;

}
.alumni_body_text{
  color: #D8D8D9;
  padding-left: 20px;
}
.p_p{
  
  color: #D8D8D9;
  padding-left: 30px;
  padding-top:30px;
  font-size: 80px;
  cursor: pointer;

}
@media (max-width:1000px){
  .alumni_part{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .alumni_part_slide{
    background-color: crimson;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
  }
  .alumni_img{
    width: 150px;
    height: 150px;
    border-radius: 120%;
    /* margin-top: 100px; */
    /* background-color: #fff; */
  }
  .alumni_body_text_heading{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 16px;
    font-family: Poppins,sans-serif;
    color: #D8D8D9;
    text-align: center;
  }
  .alumni_body_text{
    color: #D8D8D9;
    padding-left: 20px;
    text-align: center;
  }
  .p_p{
    
    color: #D8D8D9;
    padding-left: 5px;
    padding-top:20px;
    font-size: 40px;
    font-weight: 700;
  
  }
}

/* footer part will start from here */
.footer_part{
  margin-top: 100px;
  /* margin-bottom: 100px; */
  
  /* background-color: #252526; */
  background-color: #363636;
  color: white;
}
.footer_part_div{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left:30px;

}

.footer_part_headings{
  margin-left: 45px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: white;
}
.footer_part_headings:hover{
  color: crimson;
  text-decoration: none;
}
.footer_part_texts{
  margin-left: 45px;
}
.footer_part_link{
  margin-left: 45px;
  text-decoration: none;
 color: white;
  padding-right: 15px;
}
.footer_part_link:hover{
  color: crimson;
  text-decoration: none;
}
.footer_part_link_text{
  color: white;
  font-weight: 500;
}
.footer_part_link_text_1{
  color: white;
  font-size: 18px;
  margin-left: 45px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.footer_part_link_text_1:hover{
  color:crimson;
  text-decoration: none;

}
.footer_part_link_text_2{
  color: aliceblue;
  margin-left: 45px;
  text-decoration: none;
}
.footer_part_link_text_2:hover{
  color: crimson;
  text-decoration: none;
}
.footer_part_link_text_3{
  font-size: 17px;
  color: aliceblue;
  margin-left: 45px;
  text-decoration: none;
  font-family: sans-serif;
}
.footer_part_link_text_3:hover{
  color: crimson;
  text-decoration: none;
}
.footer_part_link_text_4{
  font-size: 17px;
  color: aliceblue;
  margin-left: 45px;
  text-decoration: none;
  font-family: sans-serif;
}
.footer_part_link_text_4:hover{
  color: crimson;
  text-decoration: none;
}
@media (max-width:1000px){
  .footer_part_div{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:20px;
  
  }
}

/* last footer section start from here */
.footer-section{
  background-color: #1d1d1d;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #D8D8D9;
}
.footer_section_text_div{
  margin-left: 45px;
  /* font-weight: 700; */
}
.footer_section_text{
  margin-left: 50px;
}
.footer_section_text_link{
  margin-left: 480px;

}

.footer_section_link_icon{
  color: #D8D8D9;
  padding: 5px;
}
.footer_section_link_icon:hover{
  text-decoration: none;
  color: crimson;
}

@media (max-width:1000px) {
  .footer-section{
    background-color: #1d1d1d;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5x;
    color: #D8D8D9;
    
  }
  .footer_section_text_div{
    /* margin-left: 45px; */
    /* font-weight: 700; */
    text-align: center;
  }
  .footer_section_text{
    text-align: center;
  }
  .footer_section_text_link{
    text-align: center;
  
  }
  
  .footer_section_link_icon{
    color: #D8D8D9;
    padding: 5px;
    text-align: center;
    
  }
  .footer_section_link_icon:hover{
    text-decoration: none;
    color: crimson;
  }
  
}