*{
 
} 
body{
   background-color: #D8D8D9; 
   /*   background-color: #D8D8D9;  */

   padding: 0;
   margin: 0;
}
.About_Text{
    display: flex;
}
.About_Text{

    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 180px;
    padding-right: 180px;

}
.About_us_texts{
    text-align: justify;
    font-size: 20px;
}